@model IEnumerable<CLB_TinHoc_64131060.Models.ThanhVien>
@{
    ViewBag.Title = "Thành viên của câu lạc bộ (Trợ giảng)";
    Layout = "~/Views/Shared/_LayoutAssitant_64131060.cshtml";
    var grid = new WebGrid(source: Model, canPage: true, canSort: false, rowsPerPage: 5);
    @Scripts.Render("~/Scripts/jquery-1.6.2.min.js")
}

<style>
    body {
        font-size: 15px;
    }

    .alert-event {
        font-family: "Oswald", sans-serif;
        font-optical-sizing: auto;
        font-weight: bold;
        margin-top: 150px;
        margin-left: 20px;
    }

    .search-form {
        margin-inline: 20px;
    }

    th {
        background-color: rgba(41,108,178,255) !important;
    }

    tfoot {
        font-size: 15px;
    }

        tfoot a {
            color: black;
        }

            tfoot a:hover {
                cursor: pointer;
                color: red;
            }

        tfoot tr {
            text-align: center;
        }

    .btn-create, .btn-tvsk, .btn-search {
        margin-left: 20px;
        background-color: rgba(41,108,178,255);
        width: fit-content;
        padding: 5px;
        margin-bottom: 10px;
    }

        .btn-create:hover, .btn-tvsk:hover {
            color: lawngreen !important;
        }

    input {
        padding: 5px;
    }
</style>

<h3 class="alert-event">THÀNH VIÊN CỦA CÂU LẬC BỘ</h3>

<div class="d-flex justify-content-between">
    <div class="d-flex">
        <div class="btn-create">
            @Html.ActionLink("THÊM THÀNH VIÊN", "Create")
        </div>
        <div class="btn-create">
            @Html.ActionLink("NHÓM HỌC TẬP", "NhomHocTap_Assitant_64131060", "NhomHocTap_Assitant_64131060")
        </div>
        
    </div>

    <div class="search-form">
        @using (Html.BeginForm("TimKiemTV_Assitant_64131060", "ThanhVien_Assitant_64131060", FormMethod.Get))
        {
            <div class="d-flex">
                <div>
                    <input type="text" name="mathanhvien" placeholder="Tìm kiếm mã thành viên..." value="@ViewBag.mathanhvien" />
                </div>
                <div class="ms-4">
                    <input type="text" name="hoten" placeholder="Tìm kiếm thành viên..." value="@ViewBag.hoten" />
                </div>
                <div>
                    <input class="btn-search text-white" type="submit" value="TÌM KIẾM" />
                </div>
                <a href="@Url.Action("TimKiemTV_Assitant_64131060", "ThanhVien_Assitant_64131060")" class="btn-create">
                    ĐẶT LẠI
                </a>
            </div>
        }
    </div>
</div>

@if (Model != null && Model.Any())
{
    <div>
        @grid.GetHtml(
    tableStyle: "table table-bordered table-hover",
    alternatingRowStyle: "table-row-alternate",
    columns: grid.Columns(
        grid.Column("MaThanhVien", header: "Mã số", format: @<text>@item.MaThanhVien</text>),
grid.Column("HoTen", header: "Thành Viên", format: @<text>@item.HoTen</text>),
grid.Column("Email", header: "Email", format: @<text>@item.Email</text>),
grid.Column("MatKhau", header: "Mật Khẩu", format: @<text>@item.MatKhau</text>),
grid.Column("NgayTao", header: "Thời gian", format: @<text>@item.NgayTao.ToString("dd/MM/yyyy")</text>),
grid.Column("VaiTro", header: "Vai Trò", format: @<text>@item.VaiTro.TenVaiTro</text>),
grid.Column("Chức năng", format: @<text>
    <a href="@Url.Action("Details", new { id = item.MaThanhVien })" class="edit-btn">
        <abbr title="Xem chi tiết">
            <img src="/image/details.png" width="20" height="20" />
        </abbr>
    </a>
    <a href="@Url.Action("Delete", new { id = item.MaThanhVien })" class="edit-btn">
        <abbr title="Xóa dữ liệu">
            <img src="/image/delete.png" width="20" height="20" />
        </abbr>
    </a>
</text>)
)
)
    </div>
}
else if (!string.IsNullOrEmpty(ViewBag.TB))
{
    <p>@ViewBag.TB</p>
}

