@model IEnumerable<CLB_TinHoc_64131060.Models.DiemDanh>

@{
    ViewBag.Title = "Lịch sử điểm danh (Chủ nhiệm)";
    Layout = "~/Views/Shared/_LayoutAdmin_64131060.cshtml";
    var sortedModel = Model.OrderByDescending(item => item.NgayDiemDanh);
    var grid = new WebGrid(source: sortedModel, canPage: true, canSort: false, rowsPerPage: 6);
    @Scripts.Render("~/Scripts/jquery-1.6.2.min.js");
}

<style>

    .alert-event {
        font-family: "Oswald", sans-serif;
        font-optical-sizing: auto;
        font-weight: bold;
        margin-top: 150px;
        margin-left: 20px;
    }

    th {
        background-color: rgba(41,108,178,255) !important;
    }

    tfoot {
        font-size: 15px;
    }

        tfoot a {
            color: black;
        }

            tfoot a:hover {
                cursor: pointer;
                color: red;
            }

        tfoot tr {
            text-align: center;
        }

    .btn-create, .btn-back, .btn-dd {
        margin-left: 20px;
        background-color: rgba(41,108,178,255);
        width: fit-content;
        padding: 5px;
        margin-bottom: 10px;
    }

        .btn-create:hover, .btn-back:hover, .btn-dd:hover {
            color: lawngreen !important;
        }
</style>

<h3 class="alert-event">ĐIỂM DANH</h3>

<div class="d-flex">
    <div class="btn-create">
        @Html.ActionLink("ĐIỂM DANH", "Create")
    </div>
</div>

@grid.GetHtml(
    tableStyle: "table table-bordered table-hover",
    headerStyle: "thead-light",
    alternatingRowStyle: "table-striped",
    columns: new[] {
        grid.Column("ThanhVien.HoTen", header: "Họ Tên Thành Viên", format: @<text>@item.ThanhVien.HoTen</text>),
grid.Column("NgayDiemDanh", header: "Ngày Điểm Danh", format: @<text>@item.NgayDiemDanh</text>),
grid.Column("TrangThai", header: "Trạng Thái", format: @<text>@item.TrangThai</text>),
grid.Column("GhiChu", header: "Ghi Chú", format: @<text>@item.GhiChu</text>),
grid.Column("NhomHocTap.TenNhom", header: "Tên Nhóm", format: @<text>@item.NhomHocTap.TenNhom</text>),
grid.Column(header: "Chức năng", format: @<text>
    <a href="@Url.Action("Edit", new { id = item.MaDiemDanh })" class="edit-btn">
        <abbr title="Cập nhật dữ liệu">
            <img src="/image/edit.png" width="20" height="20" />
        </abbr>
    </a>
    <a href="@Url.Action("Delete", new { id = item.MaDiemDanh })" class="edit-btn">
        <abbr title="Xóa dữ liệu">
            <img src="/image/delete.png" width="20" height="20" />
        </abbr>
    </a>
</text>)
}
)
