@model IEnumerable<CLB_TinHoc_64131060.Models.SuKien>

@{
    ViewBag.Title = "Trang sự kiện";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var grid = new WebGrid(Model, canPage: true, canSort: false, defaultSort: "", rowsPerPage: 3);
    @Scripts.Render("~/Scripts/jquery-1.6.2.min.js")
}
<style>
    body {
        font-size: 15px;
    }

    .alert-event {
        font-family: "Oswald", sans-serif;
        font-optical-sizing: auto;
        font-weight: bold;
        margin-top: 150px;
        margin-left: 20px;
    }

    .search-form {
        margin-inline: 20px;
    }

    th {
        background-color: rgba(41,108,178,255) !important;
    }

    tfoot {
        font-size: 15px;
    }

        tfoot a {
            color: black;
        }

            tfoot a:hover {
                cursor: pointer;
                color: red;
            }

        tfoot tr {
            text-align: center;
        }

    .btn-create, .btn-tvsk, .btn-search {
        margin-left: 20px;
        background-color: rgba(41,108,178,255);
        width: fit-content;
        padding: 5px;
        margin-bottom: 10px;
    }

        .btn-create:hover, .btn-tvsk:hover {
            color: lawngreen !important;
        }

    input {
        padding: 5px;
    }
</style>

<h3 class="alert-event">THÔNG TIN CÁC SỰ KIỆN CỦA CÂU LẬC BỘ</h3>
<div class="d-flex justify-content-between">
    <div class="search-form">
        @using (Html.BeginForm("TimKiemSuKien_64131060", "SuKien_64131060", FormMethod.Get))
        {
            <div class="d-flex">
                <div>
                    <input type="text" name="tenSuKien" placeholder="Tìm kiếm tên sự kiện..." value="@ViewBag.tenSuKien" />
                </div>
                <div>
                    <input class="btn-search text-white" type="submit" value="TÌM KIẾM" />
                </div>
                <a href="@Url.Action("TimKiemSuKien_64131060", "SuKien_64131060")" class="btn-create">
                    ĐẶT LẠI
                </a>
            </div>
        }
    </div>
</div>

@if (Model != null && Model.Any())
{
    <div>
        @grid.GetHtml(
    tableStyle: "table table-bordered table-hover",
    alternatingRowStyle: "table-row-alternate",
    columns: grid.Columns(
        grid.Column("TenSuKien", header: "Tên sự kiện", format: @<text>@item.TenSuKien</text>),
grid.Column("MoTa", header: "Mô tả", format: @<text>@item.MoTa</text>),
grid.Column("NgayBatDau", header: "Ngày bắt đầu", format: @<text>@item.NgayBatDau.ToString("dd/MM/yyyy")</text>),
grid.Column("NgayKetThuc", header: "Ngày kết thúc", format: @<text>@item.NgayKetThuc.ToString("dd/MM/yyyy")</text>),
grid.Column("ThanhVien", header: "Thành viên phụ trách", format: @<text>@item.ThanhVien.HoTen</text>)
)
)
    </div>
}
else if (!string.IsNullOrEmpty(ViewBag.TB))
{
    <p>@ViewBag.TB</p>
}